In [191]:
import pandas as pd
import numpy as np
import re

In [149]:
asr=pd.read_csv('data1_age_sex_race.csv')
srh=pd.read_csv('data2_SRH.csv')
trt=pd.read_csv('data3a_weight_trt.csv')
ctl=pd.read_csv('data3b_weight_con.csv')

In [255]:
def extract_age(input): 
    if "."in input:
        return (re.findall("\d+\.\d+",input))[0]
    else:
        return (re.findall("\d+",input))[0]

In [257]:
subject_demographic=pd.DataFrame()
subject_demographic['ID']=asr['subject_ID']
subject_demographic['Sex']=asr['SexAge_Race'].str[0]
subject_demographic['Age']=(asr['SexAge_Race'].apply(extract_age))
subject_demographic['Race']=asr['SexAge_Race'].str.split('_').str[1]

    ID Sex   Age      Race
0    1   M  41.2     White
1    2   F  42.9     White
2    3   F  38.5     White
3    4   F  35.6  Hispanic
4    5   F  48.5     White
5    6   F  36.9        NA
6    7   F  28.9     White
7    8   M  24.7  Hispanic
8    9   F  47.1     Black
9   10   M  37.2        NA
10  11   F  46.3     Black
11  12   M    39  Hispanic
12  13   F  40.6     White
13  14   F  45.8  Hispanic
14  15   M    42     White
15  16   F  49.6     White
16  17   F  58.4     White
17  18   F  40.8     White
18  19   M  40.4  Hispanic
19  20   F  36.4        NA
20  21   F  33.2     Asian
21  22   M  20.7     White
22  23   F  41.2     White
23  24   F    38     White
24  25   M  42.4     White
25  26   M  53.1     White
26  27   M  54.8     White
27  28   M  34.8        NA
28  29   F  26.2     White
29  30   M  32.9     White
30  31   M    44  Hispanic
31  32   M  29.8     White
32  33   M    44     White
33  34   F  37.4        NA
34  35   M    41  Hispanic
35  36   F  34.2     White
36  37   F  30.7     White
37  38   M  29.9     Black
38  39   F  35.2     White
39  40   F  34.4        NA

In [259]:
treated=trt.groupby('Id', as_index=False).agg({"PRE_WEIGHT": "sum","POST_WEIGHT":'sum'})
treated['WEIGHT_DIFFERENCE']= treated["POST_WEIGHT"]-treated["PRE_WEIGHT"]
treated = treated.set_index('Id').join(subject_demographic.set_index('ID'))

In [276]:
srh.head()

   id  trt  TIME           SRH
0   1    1  POST          Poor
1   1    1   PRE          Good
2   2    1   PRE          Poor
3   2    1  POST     Very Poor
4   3    1   PRE  Satisfactory

In [275]:
self = srh

In [281]:
self["pre"] = srh['SRH'] for (srh['TIME']=='PRE')

SyntaxError: invalid syntax (<ipython-input-281-e0709733b7a9>, line 1)